@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
.App {
  font-family: "STIX Two Math", serif;
  text-align: center;
  background-color: #ffe3e3;
  background: repeating-linear-gradient(
    45deg,
    pink,
    rgb(255, 255, 202) 10px,
    pink 2px,
    pink 20px
  );
}

div {
  padding: 3%;
}

h1 {
  font-size: 4rem;
  color: rgb(255, 1, 149);
  text-shadow: 2px 2px rgb(255, 239, 242);
}

input {
  width: 60%;
  height: 40px;
  padding: 10px;
  font-size: 2rem;
  margin: 20px;
  border: 2px solid rgb(44, 42, 42);
}

::placeholder {
  font-family: "STIX Two Math", serif;
  font-size: large;
  color: rgb(250, 159, 174);
}

input:hover {
  box-shadow: 2px 2px rgb(63, 62, 62);
}

h4 {
  font-size: 1.3rem;
  color: rgb(0, 134, 7);
}

h2 {
  color: rgb(248, 28, 72);
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: green;
}

span {
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
}
